# .dockerignore
# ========================================
# Docker build contextから除外するもの
# ========================================

.git
.gitignore

# 自分用フォルダ除外
.docs
.memo

# Rust build artifacts
backend/target
**/target

# Node artifacts
frontend/node_modules
frontend/dist

# Local data
.env
data/*

# マウントの設定のせいでここに作られちゃった
# backend/data/files/の中身がいろいろある
backend/data/*/*

# Editor / OS
.vscode
.idea
.DS_Store
Thumbs.db

# Docs are not needed in runtime images, but keeping them in context is harmless.
