# Environment Variables (Security) ---
# 秘密鍵やAPIキーを含む可能性があるため絶対にコミットしない
.env
.env.*
!.env*.example

# 開発用の物理ファイル保管場所
dev-data

# 自分用フォルダ除外
*detailed_development_guide
*development_guide

# 自分用のファイル除外
generate_tree_ver2.py

# Rustのビルド成果物は巨大になるため必須
target

# --- Logs ---
logs/
*.log

# テスト用cookie
cookie.txt
cookies.txt
cookies_*.txt

# これは追加しないらしい
!.sqlx


# --- フロントエンド作成時に生成されたもの ---
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
