# .config/.env.sample
# 参考用envファイル
# APP__PATHS__DATA_DIR_PATH形式を採用


# JWTの秘密鍵
APP__JWT__SECRET=MY-STRONG-JWT-SECRET

# サーバーポート
APP__SERVER__PORT=1234

# ログレベル
RUST_LOG=info

# =================
# DB関連
# =================
# Posgreのパスワード
POSTGRES_PASSWORD=strong_postgres_password

# DatabaseのURL
APP__DATABASE__URL=postgres://database-url

# DatabaseのURL
# 外から扱うときはこれ？
# わからんから開発中は一旦両方定義
DATABASE_URL=postgres://database-url